# Jekyll local build artifacts
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
Gemfile.lock
setup_log.txt
serve_log.txt

venv
venv/*
venv/**/*

*.pyc

.idea
.idea/*
.idea/**/*

__pycache__
__pycache__/*
__pycache__/**/*

.DS_Store
**/.DS_Store

Thesis.*
!Thesis.bib
!Thesis.pdf
!Thesis.tex

.texpadtmp
.texpadtmp/*
.texpadtmp/**/*
